:root {
  --color-1: #254336;
  --color-2: #6B8A7A;
  --color-3: #B7B597;
  --color-4: #e1dccf;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 80rem;
  height: 100dvh;
  background-color: var(--color-1);
  color: var(--color-4);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

main {
  border-radius: 1rem;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 1rem 1rem 0 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.message {
  display: flex;
  gap: 2rem;

  span {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-2);
    font-weight: 600;


    .user {
      background-color: var(--color-3);
    }
  }

  &.user {
    align-self: flex-end;
    flex-direction: row-reverse;

    span {
      background-color: var(--color-3);
      color: var(--color-1);
    }

    p {
      background-color: var(--color-2);
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

form {
  margin: 0rem 1rem;
  display: grid;
  gap: 0.5rem;
  color: var(--color-4);
  font-size: 1rem;

  input {
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-3);
    color: var(--color-1);
    font-size: 1rem;
  }

  button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-3);
    color: var(--color-1);
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      background-color: var(--color-2);
      color: var(--color-4);
    }

    &[disabled] {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

small {
  margin: 0 auto;
  text-align: center;
}